[Unit]
Description=Internet Heathchecking Service

[Service]
Type=simple
ExecStart=/usr/bin/internet-canary.py /etc/internet-canary.d/internet-canary.yaml

[Install]
WantedBy=multi-user.target
